@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Duru+Sans&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&family=Roboto+Mono&family=Roboto:wght@500;900&family=Rubik:wght@800&display=swap");

.section-2 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #403052, #23163b);
  border-top: 5px solid #403052;
  font-family: "Poppins", sans-serif;
  padding-top: 5rem;
}

.about-me {
  color: rgb(175, 223, 144);
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 50px 100px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.tech-stack {
  color: rgb(175, 223, 144);
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  margin: 0px 100px;
  background-color: rgba(255, 255, 255, 0.1);
}

i {
  font-size: 400%;
  padding-right: 5%;
  padding: 15px 0px;
  text-shadow: 2px 2px rgb(0, 0, 0);
  color: white;
}

.image-cont img {
  width: 620px;
}

.text-2 {
  color: white;
  font-size: 20px;
  line-height: 45px;
  padding: 40px;
}
