@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Duru+Sans&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&family=Roboto+Mono&family=Roboto:wght@500;900&family=Rubik:wght@800&display=swap");

.contact {
  background: #23163b;
  min-height: 10vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  padding: 2rem 0;
}

.contactInfo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactText {
  padding-left: 2rem;
  font-size: 18px;
}

.socials {
  font-size: 10px;
}

i {
  font-size: 500%;
  padding-right: 2rem;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials i:hover {
  cursor: pointer;
  color: rgb(175, 223, 144);
}

.copyright {
  font-size: 20px;
}
