@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Duru+Sans&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&family=Roboto+Mono&family=Roboto:wght@500;900&family=Rubik:wght@800&display=swap");

.header {
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: #23163b;
}
nav {
  display: flex;
  flex-grow: 1;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.logo h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(175, 223, 144);
}

.navLinks {
  margin: auto;
  display: flex;
  font-size: 20px;
}

a {
  margin-right: 5rem;
}
