@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Duru+Sans&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&family=Roboto+Mono&family=Roboto:wght@500;900&family=Rubik:wght@800&display=swap");

.main-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #403052, #23163b);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texts {
  text-transform: uppercase;
  width: 620px;
}

.texts h1 {
  color: white;
}

.texts .h1-big {
  font-size: 70px;
  color: rgb(175, 223, 144);
}

.texts p {
  border-top: 2px solid white;
  color: white;
  font-size: 19px;
  text-transform: lowercase;
}

.text-button {
  margin-top: 2.4rem;
  padding: 14px 35px;
  cursor: pointer;
  background-color: rgb(175, 223, 144);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: #584270;
  border: none;
  border-radius: 5px;
}

.text-button:hover {
  background-color: #78c485;
}

.sideBorder {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 29% 100%, 0% 50%, 26% 0);
  background: linear-gradient(to top, #403052, #43c6ac, #f8ffae);
  height: 100%;
  width: 100%;
  margin-top: 0rem;
  border-radius: 0px;
  max-width: 600px;
  object-fit: contain;
  padding: 50px;
}

.topPic img {
  width: 80%;
  margin-left: 5em;
  float: left;
}

@media (min-width: 1500px) and (max-width: 1850px) {
  .sideBorder {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 29% 100%, 0% 50%, 26% 0);
    background: linear-gradient(to top, #403052, #43c6ac, #f8ffae);
    height: 100%;
    margin-top: 0rem;
    border-radius: 0px;
    max-width: 300px;
    object-fit: contain;
    padding: 50px;
  }
}

@media (max-width: 1499px) {
  .sideBorder {
    display: none;
  }

  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
